* {
  box-sizing: border-box;
}

body{background-image: url("background.jpeg");
     background-repeat: no-repeat;
     background-size: cover;

}
.topnav{background-color: black;
        margin: 5px;
        padding: 20px;
        text-align: center;
        border: 5px solid blue;

}

.topnav a {text-decoration: none;
           color: white;
           padding: 55px;
}

.logo img { height: 70px;
            position: absolute;
            margin-left: 690px;
            bottom: 600px;
            border-radius: 40px;
}
.banner{margin-left: 20%;
        margin-top: 10%;
        max-width: 100%;
        height: auto;


}

.header{ text-align: center;
          margin-top: 150px;
}

.flex_container{display: flex;
                flex-wrap:nowrap;
                background-color: none;



}

.flex_container .flex_box1{width:50%;
                          margin-left: :10px;
                          height: 50px;

}
.flex_container .flex_box2{width: 50%;
                          margin:10px;
                          font-size: 20px;
                          margin-left: 50px;
}

.flex_container .flex_box1 #selfie {
  width: 250px;
  height: 200px;
  border-radius: 20px;
  transform: rotateZ(-20deg);
}

.flex_container2{display: flex;
                flex-wrap:nowrap;
                flex-direction:row;


}

.flex_container2 .flex_box4 h3{margin-left: 440px;
                              text-align: center;
                              font-size: 30px;
                              position: relative;

}

.listitems{display: flex;
           flex-direction: row;
}


}
.flex_box3{
            max-width: 50%;

}
.flex_box3 h3 {font-size: 30px;

}
.flex_box4{display: flex;
          position: relative;
          max-width: 70%;

}


.skills{
        list-style-type: none;
        margin-top: 100px;
        margin-left: 150px;
        position: absolute;


}
.skills2{

         list-style-type: none;
         margin-top: 100px;
         margin-left: 200px;
}

.contacts{margin-left: 200px;

}

.contacts img{margin-top: 100px;

}

.working_hours p {text-align: center;
}
.flex_container3{display: flex;

}
.flexbox7{width: 50%;


}

.flexbox8{width: 50%;

}
.contacts_form{border: 10px solid black;
               margin-left: 20px;
               padding: 20px;

}

.contact_info li{list-style-type: none;
                margin: 10px;
                font-size: 25px;
}
.contact_info {margin-left: 150px;

}

.submit_button{padding: 20px 60px;
}


.flex_container_footer{display: flex;
                       flex-wrap: nowrap;
                       background-color:#167227;
}

.flex_container_footer .footerbox1{width: 33.33%;
}

.flex_container_footer .footerbox2{width: 33.33%;

}

.flex_container_footer .footerbox3{width: 33.33%;




}

.material-icons{font-size: 50px;
                 margin-left: 200px;

}

.horizontal{height: 5px;
            border: none;
            background-color: #373a42;
            width: 80%;

}

.fab {
  padding: 20px;
  font-size: 60px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin-left: 50px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;

}
.footer_heading{font-size: 25px;
            margin-left: 210px;

}

.footer_text{list-style-type: none;

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logo img {position: absolute; border: 10px solid green; height: 70px; top: 17%; right: 45%;}

  .topnav{display: flex; flex-flow: column; position: relative; overflow: hidden; max-width: 100%;}
  .banner{  max-width: 100%;}

  .banner img{  max-width: 100%; }
  .header img{ max-width: 100%; margin-top: 50px;}
  .flex_container .flex_box1{max-width:50%; margin-left: :10px;  height: 50px;}
  .flex_container2{display: flex; flex-wrap:nowrap;flex-direction:column; background-color: red; }
  .flex_box6{background-color: blue;}
  .flex_box4{background-color: pink;}




}
